* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: 'Consolas', monospace;
  word-wrap: break-word;
  overflow-wrap: break-word;
  z-index: 0;
}

.wrapper {
  width: 100vw;
  height: 100vh;
}